/* You can add global styles to this file, and also import other style files */
/* body{
    margin: 0px;
    padding: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
/* .app {
    text-align: center;
  }
  
  .header-container {
    height: 70px;
    border-bottom: 5px solid rgb(30, 105, 192);
  }
  
  .row {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .left {
      display: flex;
    flex: 70%;
  }
  
  .right {
      display: flex;
    flex: 30%;
    padding: 0.5%;
    height: 58rem;
    overflow-y: scroll; 
  } */